<%= form_with(model: contact) do |form| %>
  <div class="d-flex align-items-center justify-content-between mb-3">
      <%= link_to contacts_path do %>
        <i class="fas fa-arrow-circle-left fa-2x text-dark mr-3"></i>
      <% end %>
      <%= button_tag(type: 'submit', class: "btn bg-transparent") do %>
        <i class="fas fa-save fa-2x text-dark"></i>
      <% end %>
  </div>

  <% if contact.errors.any? %>
    <div id="error_explanation" class="alert alert-warning" role="alert" id="notice">
      <h4>The contact could not be saved:</h4>
      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :first_name, { class: "form-control mb-3", placeholder: "First Name*" }%>
  </div>

  <div class="field">
    <%= form.text_field :last_name, { class: "form-control mb-3", placeholder: "Last Name*" }%>
  </div>

  <div class="field">
    <%= form.text_field :email, { class: "form-control mb-3", placeholder: "Email*" } %>
  </div>

  <div class="field">
    <%= form.text_field :phone, { class: "form-control", placeholder: "Phone Number*" } %>
  </div>
<% end %>

