<div class="container" style="width:50%">
  <% if notice.present? %>
    <div class="alert alert-success" role="alert" id="notice">
      <%= notice %>
    </div>
  <% end %>

  <div class="d-flex align-items-center justify-content-between mb-3">
    <%= link_to contacts_path do %>
      <i class="fas fa-arrow-circle-left fa-2x text-dark"></i>
    <% end %>
    <%= link_to edit_contact_path(@contact) do %>
      <i class="fas fa-edit fa-2x text-dark"></i>
    <% end %>
  </div>

  <div class="card border-dark mb-3 text-center" style="margin: 0 auto;">
    <div class="card-body text-dark">
      <i class="fas fa-user-circle fa-4x mb-3"></i>

      <p>
        <strong>First name:</strong>
        <%= @contact.first_name %>
      </p>

      <p>
        <strong>Last name:</strong>
        <%= @contact.last_name %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @contact.email %>
      </p>

      <p>
        <strong>Phone:</strong>
        <%= @contact.phone %>
      </p>
    </div>
  </div>
</div>